.catagories {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 8rem;
  justify-content: center;
}

.parent {
  justify-content: center;
}

.catagories a div {
  padding: 8px 8px;
  color: #03e0f4;
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 80px;
  letter-spacing: 4px;
  text-align: center;
  min-width: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
}
a {
  text-decoration: none;
}

.catagories a div:hover {
  background: #03e9f4;
  color: black;
  border-radius: 5px;
}
.explorehead {
  text-align: center;
  font-size: 30px;
}
