.parent {
  justify-content: center;
}

.catagories a div {
  padding: 1rem 1rem;
  color: #03e0f4;
  font-size: 1.3rem;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 0.1rem;
  text-align: center;
  width: 15rem;
}
a {
  text-decoration: none;
}

.catagories a div:hover {
  background: #03e9f4;
  color: black;
}
.explorehead {
  text-align: center;
  font-size: 30px;
}

.homePage {
  margin-top: 6rem;
  text-align: center;
}

nav {
  display: flex;
  gap: 20%;
}

ul {
  width: 100%;
  padding-top: 2.5rem;
}
html {
  font-size: 100%;
}
@media screen and (max-width: 1291px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 1133px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 1097px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 983px) {
  html {
    font-size: 60%;
  }
}
