html {
  font-size: 100%;
}

img {
  width: 100%;
  height: 100%;
}
.parent1 {
  box-shadow: 0 0.7rem 0.7rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  width: 22rem;
  min-height: 29rem;
}
.parent1:hover {
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}
.parent1 p {
  font-size: 20px;
  color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.imageDiv {
  padding-top: 1rem;
  height: 14rem;
  width: 100%;
}

.parentItems {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 9%;
  grid-row-gap: 3%;
  justify-content: center;
}

span {
  background-color: yellow;
}

.deleteButton {
  width: 100%;
  height: 3rem;
  background-color: white;
  border: none;
}
.deleteButton:hover {
  background-color: #e1331d;
  color: white;
}

.userSee {
  padding-bottom: 1rem;
}

.updateButton {
  width: 100%;
  height: 3rem;
  background-color: white;
  border: none;
}
.updateButton:hover {
  background-color: green;
  color: white;
}
html {
  font-size: 100%;
}
@media screen and (max-width: 1291px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 1133px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 1097px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 983px) {
  html {
    font-size: 60%;
  }

  .parentItems {
    grid-template-columns: auto auto;

    justify-content: center;
  }
  .parent1 {
    width: 29rem;
  }
}

@media screen and (max-width: 627px) {
  html {
    font-size: 60%;
  }

  .parentItems {
    grid-template-columns: auto;

    justify-content: center;
  }
  .parent1 {
    width: 29rem;
    height: 37rem;
  }
}
@media screen and (max-width: 516px) {
  html {
    font-size: 55%;
  }
  .parent1 {
    width: 35rem;
    height: 45rem;
  }
}
@media screen and (max-width: 404px) {
  .parent1 {
    width: 36rem;
    height: 57rem;
  }
}
