.navDiv {
  margin-top: 2rem;
}
nav ul li {
  list-style: none;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  justify-content: start;
  gap: 10%;
}
nav ul li {
  list-style: none;
  font-size: 1.2rem;
}
