.userInfo {
  text-align: center;
}
h1 {
  color: black;
  font-size: 2rem;
}

.addList {
  text-align: center;
}

.addList form input {
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  width: 15rem;

  box-shadow: 0 0 0 2px var(--secondary);
}
.addList form select {
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  width: 16rem;
  height: 3rem;

  box-shadow: 0 0 0 2px var(--secondary);
}
