.userInfo {
  text-align: center;
}
h1 {
  color: black;
  font-size: 2rem;
  text-align: center;
}

.addList {
  text-align: center;
}

.addList form input {
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  width: 15rem;
  box-shadow: 0 0 0 2px var(--secondary);
}
.addList form select {
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  width: 16rem;
  height: 3rem;
  box-shadow: 0 0 0 2px var(--secondary);
}

.formUpdate input {
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  width: 15rem;
  box-shadow: 0 0 0 2px var(--secondary);
  translate: 3;
}

.formUpdate select {
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  width: 16rem;
  height: 3rem;
  box-shadow: 0 0 0 2px var(--secondary);
}

.forgetPass {
  margin-top: 8rem;
}
.forgetPass p {
  font-size: 1.2rem;
}
html {
  font-size: 100%;
}
@media screen and (max-width: 1291px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 1133px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 1097px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 983px) {
  html {
    font-size: 50%;
  }
}
