.login-box {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.formUpdatess input {
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  width: 15rem;
  box-shadow: 0 0 0 2px var(--secondary);
  translate: 3;
}

.buttonSignin {
  margin-top: 1rem;
  background-color: #afd5bf;
  padding: 0.3rem 1rem;
  border: none;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  border-radius: 0.25rem;

  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;

  cursor: pointer;
}
.buttonSignin:hover {
  background-color: green;
  color: white;
}
html {
  font-size: 100%;
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 850px) {
  html {
    font-size: 75%;
  }
  .parentItems {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 65%;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 35%;
  }
}
